transformers
timm
orjson
opencv_python_headless
datasets
lightning
nltk
Levenshtein
sentencepiece
sconf
albumentations
pypdf
pypdfium2
fastapi
uvicorn
python-multipart
pytesseract
bs4
Pebble
pylatexenc
fuzzysearch
unidecode
htmlmin
pdfminer
