transformers
timm
orjson
opencv_python_headless
datasets
lightning
nltk
Levenshtein
sentencepiece
sconf
albumentations
pypdf
pypdfium2
fastapi
uvicorn
multipart
pytesseract
bs4
sklearn
Pebble
pylatexenc
fuzzysearch
unidecode
htmlmin
pdfminer
